body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.title-color {
    color: blue;
    font-size: 50px;
}

.paragraph {
    font-size: 40px;
    white-space: calc();
}

.image {
    position: relative;
    width: 80%;
}

.img img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, rgb(255, 71, 71));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

.image .title {
    position: absolute;
    top: 5%;
    left: 20%;
    /* transform: translate(-50%, -0%); */
    color: white;
    text-align: center;
    width: 100%;
}

.donate {
    color: black;
    text-align: center;
    font-size: 40px;
}

.flexible-container {
    display: flex;
    font-size: 20px;
    text-align: center;
}

.item {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px gray;
}

#tk {
    color: red;
    border: 7px solid red;
}

.amount {
    text-align: center;
    padding-right: 40px;
}

.planning {
    color: black;
    text-align: center;
    font-size: 40px;
}

.money {
    font-size: 20px;
    text-align: left;
}

.help {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 5%;
}

.blood-medicine-goods {
    display: flex;
    margin-bottom: 150px;
}

#blood {
    background-color: aquamarine;
}

#medicine {
    background-color: bisque
}

#goods {
    background-color: antiquewhite
}

.donation {
    display: flex;
    font-size: 15px;
    text-align: center;
}

.help {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px gray;
}

.contributes {
    display: flex;
    margin-top: 15%;
    margin-left: 100px;
    margin-right: 70px;
}

.contribute {
    text-align: left;
}

#image {
    margin-left: 13%;
    margin-bottom: 5%;
    margin-right: 3%;
}

#font {
    font-size: 30px;
}

.update {
    color: black;
    text-align: center;
    font-size: 40px;
}

.updates {
    text-align: center;
}

footer {
    color: red;
    text-align: center;
    background-color: black;
    padding: 1%;
}

.flexi-container {
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 3%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px gray;
    text-align: center;
}